@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
body{
    width:100vw;
    height:auto;
    overflow-x: hidden;
    font-family: 'Inter','sans-serif';
}

.box {
    width: 665px;
    height: 530px;
    border: 1px solid #0000002e;
    border-radius: 4px;
    margin-top: 32px;
    margin-left: 300px;
    background: linear-gradient(124deg,
    #9334fa 3.76%,
    #a15afd 46.37%,
    #3e1bb1 100%);
}

.presalesbox {
    width: 665px;
    height: 42px;
    border: 1px solid #0000002b;
    margin-left: -1px;
    background: linear-gradient(91deg, rgb(224, 133, 221),rgb(105, 84, 235),rgb(101, 45, 192))
}

.presalesbox h5{
    font-size: x-large;
    font-weight: bold;
    color: white;
    margin-top: 4px;
    margin-left: 28px;
}

.container{
    display: flex;
}

.mstpid h4{
    font-size: medium;
   font-weight: normal;
   color: white;
   margin-left: 20px;
   line-height: 10px;
   
}

.mstpid input{
    width: 192px;
    height: 32px;
    border-radius: 4px;
    position: absolute;
    margin-left: 18px;
    margin-top: -12px;
    border: 1px solid white;
    background-color: transparent;
}

.soln h4{
   font-size: medium;
   font-weight: normal;
   color: white;
   margin-left: 150px;
   line-height: 10px;
}

.soln input{
    width: 192px;
    height: 32px;
    border-radius: 4px;
    margin-left: 150px;
    margin-top: -12px;
    position: absolute;
    background-color: transparent;
    border: 1px solid white;
}

.demo h4{
    font-size: medium;
   font-weight: normal;
   color: white;
   margin-left: 116px;
   line-height: 10px;
}

.demo input{
    width: 192px;
    height: 32px;
    border-radius: 4px;
    margin-left: 116px;
    margin-top: -12px;
    position: absolute;
    background-color: transparent;
    border: 1px solid white;
}

.date h4{
    font-size: medium;
    color: white;
    font-weight: normal;
    margin-left: 18px;
    line-height: 42px;
    margin-top: 30px;
}

.date input{
    width: 195px;
    height: 35px;
    border-radius: 4px;
    margin-left: 18px;
    margin-top: -24px;
    position: absolute;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.date1 input {
    width: 195px;
    height: 35px;
    border-radius: 4px;
    margin-left: 83px;
    margin-top: 68px;
    position: absolute;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.date2 input{
    width: 195px;
    height: 35px;
    border-radius: 4px;
    margin-left: 307px;
    margin-top: 68px;
    position: absolute;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.capture h4{
   font-size: medium;
   font-weight: normal;
   color: white;
   margin-left: 18px;
   line-height: 42px;
   margin-top: 22px;
}

.capture input{
    width: 308px;
    height: 60px;
    border-radius: 4px;
    margin-top: -25px;
    margin-left: 18px;
    position: absolute;
    background-color: transparent;
    border: 1px solid white;
}

.upload h4{
   font-size:medium;
   font-weight: normal;
   color: white;
   margin-left: 175px;
   line-height: 42px;
   margin-top: 21px;
   position: absolute;
}

.upload input{
    width: 297px;
    height: 60px;
    border-radius: 4px;
    margin-top: 60px;
    margin-left: 175px;
    position: absolute;
    border: 1px solid white;
    background-color: transparent;
}

.qualified h4{
    font-size: medium;
    font-weight: normal;
    color: white;
    margin-left: 18px;
    line-height: 42px;
    margin-top: 46px;
}
.rdobtn{
    position: absolute;
    margin-left: 18px;
    margin-top: -26px;
    width: 15px;
    height: 15px;
}
.inbound{
    font-size: medium;
    color: white;
    position: absolute;
    margin-top: -30px;
    margin-left: 36px;
}
.outbound{
    font-size: medium;
    color: white;
    position: absolute;
    margin-top: -30px;
    margin-left: 36px;
}

.qdate h4{
    border-radius: 4px;
    margin-left: 43px;
    margin-top: -12px;
    position: absolute;
    font-size: medium;
    font-weight: normal;
    margin-top: 58px;
    color: white;
}

.qdate input{
    width: 226px;
    height: 35px;
    border-radius: 4px;
    margin-left: 42px;
    margin-top: 84px;
    position: absolute;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.final h4{
    font-size: medium;
    font-weight: normal;
    color: white;
    margin-left: 18px;
    line-height: 42px;
    margin-top: -5px;
}
.final input{
    width: 322px;
    height: 35px;
    border-radius: 4px;
    margin-top: -28px;
    margin-left: 16px;
    position: absolute;
    background-color: transparent;
    border: 1px solid white;
}

.azure h4{
    font-size: medium;
    font-weight: normal;
    color: white;
    margin-left: 376px;
    line-height: 42px;
    margin-top: -63px;
}
.azure input{
    width: 280px;
    height: 35px;
    border-radius: 4px;
    margin-left: 376px;
    margin-top: -29px;
    position: absolute;
    background-color: transparent;
    border: 1px solid white;
}

.save button {
    width: 74px;
    height: 33px;
    border-radius: 4px;
    background: linear-gradient(93deg, #d391d2 0.7%,   #836cdf 96.14%);
    position: absolute;
    margin-left: 274px;
    margin-top: 26px;
    border: 1px solid white;
    color:white
}

.next button {
    width: 74px;
    height: 33px;
    border-radius: 4px;
    background: linear-gradient(93deg, #d391d2 0.7%, #836cdf 96.14%);
    position: absolute;
    margin-left: 364px;
    margin-top: 26px;
    border: 1px solid white;
    color:white;
}