@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background: linear-gradient(124deg,

    #9334fa 3.76%,

    #a15afd 46.37%,

    #3e1bb1 100%);
    color: white;
    font-weight: 600;
    height: 90%;
}
.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    color: white;
    font-size: 22px;
    font-weight: 600;
    padding: 5px 60px;
    /* background: linear-gradient(90deg, rgb(216, 66, 219) 0%, rgba(157, 111, 230, 0.671) 48%, rgb(216, 37, 219) 100%); */
    background: linear-gradient(91deg, rgb(224, 133, 221),rgb(105, 84, 235),rgb(101, 45, 192))
}
.wrapper1,.wrapper2,.wrapper3{
    width: 90vw;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.wrapper1 input{
    width: 300px;
    padding: 7px 15px;
    border-radius: 7px;
    border: 2px solid white;
    color: white;
    color-scheme: dark;
    background: transparent;
}
.wrapper2 input{
    width: 400px;
    padding: 7px 15px;
    border-radius: 7px;
    border: 2px solid white;
    color: white;
    color-scheme: dark;
    background: transparent;
}
.wrapper3 input,.wrapper3 select{
    width: 610px;
    padding: 7px 15px;
    border-radius: 7px;
    border: 2px solid white;
    color: white;
    color-scheme: dark;
    background: transparent;
}
.wrapper1 input::placeholder,.wrapper2 input::placeholder,.wrapper3 input::placeholder{
    color: white;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.btn button{
    padding: 7px 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 7px;
    margin: 5px 15px;
    color: white;
    /* background: linear-gradient(90deg, rgb(216, 66, 219) 0%, rgba(157, 111, 230, 0.671) 48%); */
    background: linear-gradient(93deg, #d391d2 0.7%,   #836cdf 96.14%)
}
#symbole{
    font-size: 45px;
    margin-top: 10px;
}